<div class="row">
  <%#= form_for(@user, as: :session, url: login_path, class: "col s12", local: true) do |f| %>
  <%= form_with(scope: :session, url: login_path, class: "col s12", local: true) do |f| %>
    <div class="row mt-2">
      <div class="col s12 input-field">
        <%= f.label :email, class: "form-label" %>
        <%= f.email_field :email, placeholder: "Enter your email", autofocus: true, class: "form-control" %>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col s12 input-field">
        <%= f.label :password, class: "form-label" %>
        <%= f.password_field :password, placeholder: "Enter your password", class: "form-control" %>
      </div>
    </div>

    <div class="d-grid gap-2">
      <%= f.submit "Log in", class: "btn btn-primary mt-4" %>

      <div class="mt-3 row justify-content-center" style="background-color: lightgray; height: 0.5px; position: relative;">
        <div style="background-color: white; width: 50px; position: absolute; top: -12px; color: lightgray;">OR</div>
      </div>
    </div>

    <div class="text-center">
      <%= link_to "Create an account", new_user_path, class: "btn btn-success mt-4" %>
    </div>
  <% end %>
  </div>