<div class="d-flex mb-4">
  <div class="flex-grow-1">
    <h3>API key Listing</h3>
  </div>
  <div>
    <%= link_to "Create API key", new_api_key_path, class: "btn btn-primary" %>
  </div>
</div>

<%= render "nav_tabs" %>

<div style="background-color: white; border-radius: 15px; padding-left: 16px; padding-right: 16px; margin-top: 20px;">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Key</th>
        <th scope="col">Status</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @api_keys.each_with_index do |api_key, index| %>
        <tr>
          <th scope="row"><%= index + 1 %></th>
          <td><%= api_key.name %></td>
          <td><%= api_key.api_key %></td>
          <td>
            <span class="badge text-bg-<%= api_key.actived ? "success" : "danger" %>">
              <%= api_key.actived ? "Available" : "Archived" %>
            </span>
          </td>
          <td class="text-end">
            <%= link_to edit_api_key_path(api_key), class: "btn btn-primary" do %>
              <%= icon('fa-solid', 'pen-to-square')%>
            <% end %>
            <% if api_key.deleted? %>
              <%= link_to restore_api_key_path(api_key), method: :put, class: "btn btn-success" do %>
                <%= icon('fa-solid', 'rotate-right', style: 'color: white') %>
              <% end %>

              <%= link_to api_key_path(api_key), method: :delete, data: { confirm: "Do you want to delete this API key?" }, class: "btn btn-danger" do %>
                <%= icon('fa-solid', 'trash')%>
              <% end %>
            <% else %>
              <%= link_to archive_api_key_path(api_key), method: :put, data: { confirm: "Do you want to archive this API key?" }, class: "btn btn-warning" do %>
                <%= icon('fa-solid', 'box-archive', style: 'color: white') %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>