<%= render "shared/errors", obj: @category %>

<div class="container card">
  <div class="card-body">
    <h1 class="card-title text-center"><%= @category.new_record? ? "Create Category" : "Edit category" %></h1>

    <div class="row">
      <%= form_for(@category, html: {class: "col s12"}) do |f| %>
        <div class="row mt-2">
          <div class="col s12 input-field">
            <%= f.label :name, class: "form-label" %>
            <%= f.text_field :name, placeholder: "Enter category name", autofocus: true, class: "form-control" %>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col s12 input-field">
            <%= f.label :transaction_type, class: "form-label" %>
            <%= f.select :transaction_type, Category::TRANSACTION_TYPES, {}, { class: "form-select" } %>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col s12 input-field">
            <%= f.label :order, class: "form-label" %>
            <%= f.text_field :order, placeholder: "Enter category order", class: "form-control" %>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-9 input-field">
            <%= f.label :icon, class: "form-label" %>
            <%= f.text_field :icon, placeholder: "Enter icon name", class: "form-control" %>
          </div>
          <div class="row col-3">
            <div class="col-4">
              <%= f.label "Icon color", class: "form-label" %><br/>
              <%= f.color_field :icon_color%>
            </div>

            <div class="col-8">
              <%= f.label "Background color", class: "form-label" %><br/>
              <%= f.color_field :bg_color, value: '#ffffff' %>
            </div>
          </div>
        </div>

        <div class="row mt-4 me-0 justify-content-end">
          <div class="col-1">
            <% cancel_url = (!logged_in? && controller.controller_name == "users" && controller.action_name == "new") ? root_path : categories_path %>
            <%= link_to "Cancel", cancel_url, class: "btn btn-danger" %>
          </div>
          <div class="col-1">
            <%= f.button(@category.new_record? ? "Create" : "Update", class: "btn btn-primary") %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>